// Type

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300i,500|corbel:600|Alegreya:400i|Roboto);

html, body { font-family: roboto; }

h1, h2, h3, h4, h5, h6 { font-family: 'Alegreya Sans SC', Helvetica, sans-serif; }

h1 {
    font-size: 4rem;
    font-weight: normal;
    text-transform: capitalize;
}

h2 {
    font-size: 3rem;
}


// Colours

$indigo: hsl(240, 68, 16);
$nightshade: hsl(240, 24, 4);


// Hero component

$color-hero-dark: $indigo;
$color-hero-dark-highlight: lighten(saturate($color-hero-dark, 4%), 8%);
$color-hero-dark-text-shadow: lighten(desaturate($color-hero-dark-highlight, 32%), 24%);

.hero {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;

    background-image: linear-gradient($color-hero-dark, $color-hero-dark-highlight);

    color: white;
    text-shadow: 0 0 68px $color-hero-dark-text-shadow;

    > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }

    > h1:after {
        content: '';
        display: block;
        width: 68%; height: 1px;
        margin: .5em auto 0;
        background-color: rgba(white, .16);
        box-shadow: 0 0 8px rgba(white, .16);
    }
}


// Super logo

$super-logo-size: 4rem;

.super {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.super-logo {
    width: $super-logo-size; height: $super-logo-size;
    border: 3px solid white;
    border-radius: 8%;
    box-shadow: 0 0 16px $color-hero-dark-text-shadow, 0 0 16px $color-hero-dark-text-shadow inset;

    font-family: corbel;
    font-size: $super-logo-size;
    font-weight: 600;
    line-height: .82em;
    text-align: center;
    text-shadow: 0 0 16px $color-hero-dark-text-shadow;
}

.super-word {
    font-family: corbel, 'Alegreya Sans SC';
    font-weight: 400;
    margin: .5rem 0 0;
    font-size: $super-logo-size - 2rem;
}


// Title

.title {
    display: flex;
    align-items: center;

    .super {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid rgba(white, .16);
    }
}

.title-tag {
    font-family: Alegreya;
    font-size: 1.32rem;
}


// Header

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


// Navigation

.navigation {
    display: flex;
    align-items: center;

    > li {
        display: block;
        margin-left: 2rem;

        > a {
            display: block;
            padding: 5px 0;
            color: white;
            font-size: 1.125rem;
            text-decoration: none;
            text-shadow: 0 0 8px rgba($color-hero-dark-text-shadow, 0);
            transition: all ease-out 240ms;
            opacity: .9;

            &:after {
                content: '';
                display: block;
                width: 16px;
                height: 1px;
                margin: 5px auto 0;
                background-color: rgba(white, .32);
                transition: all ease-out 240ms;
                box-shadow: 0 0 6px rgba(white, 0);
            }

            &:hover {
                // transform: scale(1.1);
                text-shadow: 0 0 8px rgba($color-hero-dark-text-shadow, 1);
                opacity: 1;

                &:after {
                    width: 90%;
                    background-color: rgba(white, .8);
                    box-shadow: 0 0 6px rgba(white, .32);
                }
            }
        }
    }
}


// Pointer

.pointer {
    transform: scaleY(1);
    animation: breathe 5s infinite ease-out;
}

.pointer-arrow {
    width: .68rem; height: .68rem;
    border: 3px none white;
    border-right-style: solid;
    border-bottom-style: solid;
    // border-radius: 4px;
    transform: rotate(45deg);
}

@keyframes breathe {
    0% {
        transform: scaleY(1) translateY(-2rem);
        opacity: .04;
    }
    32% {
        transform: scaleY(1) translateY(0rem);
        opacity: .68;
    }
    100% {
        transform: scaleY(1) translateY(-2rem);
        opacity: .04;
    }
}


// Dark Horse

.dark-horse {
    height: 100vh;
    border-top: 1px solid lighten(desaturate($nightshade, 32%), 12%);
    background-color: $nightshade;
    color: white;
    overflow: hidden;

    h2:before {
        content: '';
        display: block;
        width: 100%; height: 1px;
        margin: 0 auto .5em;
        background-color: rgba(white, .16);
        box-shadow: 0 0 8px rgba(white, .16);
    }

    h2:after {
        content: '';
        display: block;
        width: 100%; height: 1px;
        margin: .5em auto 0;
        background-color: rgba(white, .16);
        box-shadow: 0 0 8px rgba(white, .16);
    }
}

.dark-horse-aside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 32%; height: 100%;
    float: right;
}


// Grid

$grid-item-size: 16rem;
$grid-item-margin: 2rem;
$grid-cols: 4;

.grid-container {
    width: 68%;
    float: left;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: $grid-item-size * $grid-cols + $grid-item-margin * ($grid-cols - 1);
    transform: rotateY(32deg) rotateZ(-8deg);
}

.grid-item {
    box-sizing: border-box;
    flex-shrink: 0;
    width: $grid-item-size; height: $grid-item-size * .75;
    background-color: rgba(white, 0);
    border: 6px solid rgba(white, .12);
    margin: 0 $grid-item-margin $grid-item-margin 0;
    transform: background-color 320ms;

    animation: conveyor 5s linear infinite;

    &:nth-child(#{$grid-cols}n) { margin-right: 0; }

    &:hover {
        background-color: rgba(white, .08);
        cursor: pointer;
    }
}

.grid:hover .grid-item {
    animation-play-state: paused;
}

@keyframes conveyor {
    0% {
        transform: translateY(-$grid-item-size * .75) translateX(-10rem);
    }
    100% {
        transform: translateY(-$grid-item-size * .75 * 2 - $grid-item-margin) translateX(-10rem);
    }
}
